name: .NET CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Restore dependencies
      run: dotnet restore GameStore/GameStore.sln
    - name: Build
      run: dotnet build GameStore/GameStore.sln --no-restore
    - name: Test with coverage
      run: dotnet test GameStore.Tests/GameStore.Tests.csproj --collect:"XPlat Code Coverage"
    - name: Report code coverage
      uses: danielpalme/ReportGenerator-GitHub-Action@5.3.5
      with:
        reports: '**/coverage.cobertura.xml'
        targetdir: 'coverage-report'
        reporttypes: 'Badges;MarkdownSummary'
    - name: Upload coverage badge
      uses: actions/upload-artifact@v4
      with:
        name: coverage-badge
        path: coverage-report/badge.svg
    - name: Upload coverage summary
      uses: actions/upload-artifact@v4
      with:
        name: coverage-summary
        path: coverage-report/Summary.md
